*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aqua !important;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.main{
    background-color: #fff;
    padding: 20px;
}
.main label{
    font-size: 18px;
    cursor: pointer;
}


