*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #66BB77 !important;
}
.input-group-text{
    background-color: #cdcaca !important;
}
.btn{
    background-color: #66BB77 !important;
}
.form-control, .form-select{
    box-shadow: none !important;
}


